@use "../settings/variables";


.a-circle {
	width: variables.$space-10;
	height: variables.$space-10;
	border-radius: variables.$border-radius-circle;
	background-color: lightpink;

	// &--yellow {
	// 	background-color: lightpink;
	// }
}
